@model IEnumerable<DGD.Models.LoaiSP>

@{
    ViewBag.Title = "LoaiSanPham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="margin-left:230px;">LOẠI SẢN PHẨM</h2>
<div style="margin-left:230px;">

    <p>
        @Html.ActionLink("Thêm loại sản phẩm mới", "ThemLSP")
    </p>
    <table class="table" border="1">
        <tr>
            <th>
                Loại sản phẩm:
            </th>
            <th>
                Danh mục:
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiSP1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DanhMuc.TenDM)
                </td>
                <td>
                    @Html.ActionLink("Xóa", "xoalsp", new { id = item.MaLsp })
                </td>
            </tr>
        }

    </table>
</div>
